{% extends "base.jinja" %}
{% block content %}


<div class="container">
<form method="post" enctype="multipart/form-data">
    <div class="border rounded-3 mx-5 my-2">
        <div class="d-flex justify-content-around mt-4">
            <div id="form">
                <label for="titre" class="form-label text-primary fw-bolder fs-5 w-100">titre</label>
                <input type="text" class="form-control" name="titre" id="titre">
            </div>
        </div>

    </div>
    <div class="text-center m-4">
        <button type="submit" id="bouton" class="btn btn-primary">Ajouter l'étiquette</button>
    </div>
</form>

<script defer="defer"
        src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous"></script>
<script defer="defer"
        src="/static/js/ajouter_libelle.js"></script>
{% endblock %}