{% extends "base.jinja" %}
{% block content %}


<div class="container d-flex justify-content-evenly">
<div>
</div>
<div class="text-end">
    <h2 class="text-primary">Étiquettes</h2>
    <ul class="list-unstyled">
        {% for etiquette in etiquettes %}
        <li class="py-1">
            <a href="/etiquettes/{{etiquette['id']}}" class="btn btn-outline-dark">{{etiquette['libelle']}}</a>
        </li>
        {% endfor %}
    </ul>
</div>
<div class="text-start">
    <a href="/etiquettes/creer_etiquette" class="btn btn-outline-primary">Créer une nouvelle étiquette</a>
</div>
<div>
</div>

</div>

{% endblock %}