{% extends "base.jinja" %}

{% block content %}
<div>
    <ul>
{% for v in videos %}
        <li>
            <a href="/video/{{v['id']}}">{{v['titre']}}</a>
        </li>
{% endfor %}
    </ul>

</div>

{% endblock %}