{% extends 'base.jinja' %}


{% block content%}

<header>
    <h1>Authentification</h1>
</header>

<main>
    <form method="post" action="/compte/authentifier" novalidate="novalidate">
        <div id="div-form">
        <div class="my-1">
            <label for="courriel">
                Courriel : </label>
            <input type="email" name="courriel" id="courriel" placeholder="votre courriel"/>
        </div>
        <div>
            <label for="mdp">Mot de passe : </label>
            <input type="password" name="mdp" id="mdp" placeholder="votre mot de passe"/>
{% if erreur %}
            <div>
                Courriel ou mot de passe inconnu
            </div>
{% endif %}
        </div>
        </div>
        <div>
            <button type="submit">S'authentifier</button>
        </div>
    </form>
</main>
<script defer="defer"
        src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous"></script>
<script defer="defer"
        src="/static/js/authentification.js"></script>
{% endblock %}