{% extends 'base.jinja' %}


{% block content%}
<header>
    <h1>Création de compte</h1>
</header>

<main>
    <form method="post" action="/compte/creer" novalidate="novalidate">

        <div>
            <label for="courriel">
                Courriel : </label>
            <input type="text" name="courriel" id="courriel" placeholder="votre courriel"
                   value="{{champs.courriel.valeur}}" />
        </div>

        <div>
            <label for="mdp">Mot de passe : </label>
            <input type="password" name="mdp" id="mdp" placeholder="votre mot de passe"
{% if champs.mdp.en_erreur %}
                    class="is-invalid"

            />
            <div>
                Votre mot de passe et sa confirmation diffèrent.
            </div>
{% endif %}
        </div>

        <div>
            <label for="mdp2">Confirmation du mot de passe : </label>
            <input type="password" name="mdp2" id="mdp2" placeholder="votre mot de passe à nouveau"
{% if champs.mdp.en_erreur %}
            class="is-invalid"

            />
            <div>
                Votre mot de passe et sa confirmation diffèrent.
            </div>
{% endif %}
        </div>
        <div>
            <label for="admin">Choisissez le type de compte</label>

            <select id="admin">
                <option value=0>Compte standard</option>
                <option value=1>Compte admin</option>
            </select>
        </div>
        
        <div>
            <button type="submit">Créer un compte</button>
        </div>
    </form>
    
    {% for message in get_flashed_messages() %}
    <p>
    {{ message }}
    </p>
    {% endfor %}
</main>
{%endblock%}