{% extends 'base.jinja' %}


{% block content %}
<ul class="list-group container my-5">
    {% if comptes|length > 0 %}
        {% for compte in comptes %}
            <li class="list-group-item d-flex fw-bold">
                <ul >
                    <div class="float-left">
                        {{compte.courriel}}
                    </div>
                    <div class="float-right">
                        <a class="float-right" href="{{url_for('compte.supprimer', utilisateur = compte.courriel )}}"">Supprimer le compte</a>
                    </div>
                    
                </ul>
            </li>
        {% endfor %}
    {% else %}
        <h2 class="fw-bold text-center text-primary">Aucun compte trouvé!</h2>
        
    {% endif %}
    <a class="mx-2 btn btn-outline-primary" href="/compte/creer">Créer un compte</a>
</ul>
{% endblock%}