@import "bootstrap"
/* Pour les suggestions */
#suggestions
    .suggestions
        background-color: white
        width: 194px
        position: absolute
        border: 1px solid gray

    .afficher
        display: block

    .suggestions > ul
        color: gray
        padding-left: 0
        margin: 0
        list-style-type: none
        cursor: default

    .suggestions > ul li:hover
        background-color: lightblue

    .sortie
        @extend .alert, .alert-light
        min-height: 100px