{%extends 'base.jinja'%}
{% block content%}
<div class="text-center">
    <div class="text-center py-4">
        <h2 class="display-3 text-primary bg-light py-5">Vidéo supprimé!</h2>
    </div>
    <a href="/" class="btn btn-outline-dark fw-bold fs-2">retour</a>
</div>

{% endblock %}