{% extends "base.jinja" %}

{% block content %}
<div class="container" id="main">
    <div id="video">
    <h2>{{video.titre}}</h2>
    <video class="w-100" controls>
        <source src="/{{src}}">
    </video>
    <div class="d-flex justify-content-between">
    <div>
    {% for etiquette in etiquettes %}
        <a href="/etiquettes/{{etiquette[1]}}" class="btn btn-outline-dark fs-6">{{etiquette[0]}}</a>
    {% endfor %}
    </div>
        <button id="btn-supprimer" value="{{id}}" class="btn btn-outline-danger fs-6">supprimer</button>
    </div>
    <h2>{{description}}</h2>
    {% if session['utilisateur'] != null or None%}
    <form method="POST" class="card">
        <div class="d-grid">
            <h4 class="card-header text-primary">Laisser un commentaire</h4>
            <div class="card-body">
                <div class="mx-4 my-1">
                    <label for="user" class="w-100">Nom d'utilisateur</label>
                    <input type="text" id="user" name="user" class="w-25"/>
                </div>
                <div class="grid-row mx-4 my-1">
                    <label for="commentaire">Commentaire</label>
                    <textarea rows="5" row id="commentaire" name="commentaire" class="w-100" placeholder="Votre commentaire"></textarea>
                </div>
                <input type="submit" class="btn btn-dark mx-4 my-1">Laisser commentaire</input>
            </div>
        </div>
    </form>
    {% for message in get_flashed_messages() %}
    <p>
    {{ message }}
    </p>
    {% endfor %}
    {% endif %}
    {% if commentaires != null %}
    {% for com in commentaires %}
    <div class="card my-4">
        <h5 class="card-header">{{com.user}}</h5>
        <p class="card-body">{{com.commentaire}}</p>
    </div>
    {% endfor %}
    {% endif %}
    </div>

</div>
<script defer="defer"
        src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous"></script>
<script defer="defer"
        src="/static/js/suppression.js"></script>
{% endblock %}