<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="text/css" href="/static/css/normalize.css">
    <link rel="stylesheet" href="text/css" href="/static/css/style.css">
    <title>Document</title>
</head>

<body>
    <header class="container-fluid">
        <div class="btn-toolbar justify-content-between">
            <nav class="navbar rounded-3">
                <a href="/" class="mx-2 nav-item navbar-brand link-primary"><img height="70px" width="auto"
                        src="/static/img/brandNav.png" alt="home"></a>
                <a href="/ajouter" class="mx-2 btn btn-outline-primary">Ajouter un video</a>
                <a href="/etiquettes" class="mx-2 btn btn-outline-primary">Étiquettes</a>
                <a href="/compte/listage_comptes" class="mx-2 btn btn-outline-primary">Gestion des utilisateurs</a>
            </nav>
            <nav class="navbar rounded-3">
                <form action="/rechercher" class="container input-group rounded-start">
                    
                    <input type="text"  class="form-control" id="mot-cle" name="mot-cle"
                        placeholder="rechercher un video" aria-label="Search" aria-describedby="search-addon" position="relative">
                    <div id="div-suggestions" class="suggestions"></div>
                    <button id="boutonRecherche"  type="submit" class="btn btn-primary">
                        <i class="fas fa-search">Rechercher</i>
                    </button>
                    
                    
                </form>
                <a href="/" class="mx-2 btn btn-outline-primary">Langue</a>
                {% if session.utilisateur %}
                    <a href="" class="mx-2 btn btn-outline-primary" disabled>Connecté au compte <em>{{session.utilisateur.courriel}}</em></a>
                    <a href="/compte/deconnecter" class="mx-2 btn btn-outline-primary">Se déconnecter</a>
                    <a href="/compte/creer" class="mx-2 btn btn-outline-primary">Créer un compte</a>
                {% else %}
                    <a href="/compte/authentifier" class="mx-2 btn btn-outline-primary">S'authentifier</a>
                    <a href="/compte/creer" class="mx-2 btn btn-outline-primary">Créer un compte</a>
                {% endif %}
                
            </nav>
        </div>
    </header>

    <body class="fs-5">
        {%block content%}

        {%endblock%}
    </body>
    <footer>Gabriel Auger 2022, Cegep FX-Garneau</footer>
</body>
<script defer="defer"
         src="https://code.jquery.com/jquery-3.6.0.min.js"
         integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
         crossorigin="anonymous"></script>
 <script defer="defer"
        src="/static/js/barreRecherche.js"></script>
<script defer="defer"
        src="/static/js/suggestions.js"></script>
<script defer="defer"
        src="/static/js/courriel.js"></script>
</html>
