{%extends 'base.jinja'%}
{%block content%}
<main class="container-fluid">
    {{message}}
    <a href="/compte/authentifier" class="mx-2 btn btn-outline-primary">Retour à l'accueil</a>
    
</main>
{% endblock %}