{%extends 'base.jinja'%}
{%block content%}
<main class="container-fluid">
    {{message}}
    <a href="/compte/authentifier" class="mx-2 btn btn-outline-primary">S'authentifier</a>
</main>
{% endblock %}