{%extends 'base.jinja'%}
{%block content%}
<main class="container-fluid">
    {% if videos|length == 0 %}
    <p>Aucun video à afficher</p>
    {% else %}
    <ul class="list-group flex-row justify-content-around" id="videosAccueil">
        {% for i in range(videos|length) %}

        <li class="card p-0 m-5 w-100">
            <div class=" card-header">
                <a href="/video/{{videos[i].id}}" class="card-link" style="text-decoration: none;">{{videos[i].titre}}</a>
            </div>
            <div class="card-body m-0 p-0">
                <video class="rounded-bottom w-100" src="{{srcs[i+1]}}" controls>
                    Your browser does not support the video tag.
                </video>
                <div class="mx-2">
                    {% for j in etiquettes[i] %}
                    <a class="btn btn-outline-dark mb-2" href="/etiquettes/{{j[1]}}">{{j[0]}}</a>
                    {% endfor %}
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
    {% endif %}
</main>
<script defer="defer"
         src="https://code.jquery.com/jquery-3.6.0.min.js"
         integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
         crossorigin="anonymous"></script>
 <script defer="defer"
        src="/static/js/update.js"></script>
{% endblock %}