{% extends "base.jinja" %}

{% block content %}
<div class="container text-center">
    <ul class="list-group my-5">
    {% if videos|length > 0 %}
    {% for video in videos %}
        <li class="list-group-item d-flex fw-bold">
            <a href="/video/{{video['id']}}" class="fs-4 page-link link-primary">{{video.titre}}</a>
            <p class="text-secondary"> <span class="px-2 fs-4">-</span> {{video.description}}</p>
        </li>
    {% endfor %}
    </ul>
    <button id="load" class="btn btn-outline-primary">Afficher les prochains résultats</button>
</div>
    {% else %}
    <h2 class="fw-bold text-center text-primary">Aucun video trouvé!</h2>
    <p class="text-secondary py-0 my-0">Recherche google associée : </p> <a href="http://www.google.com/search?q={{mot_cle}}">http://www.google.com/search?q={{mot_cle}}</a>
    {% endif %}

<script defer="defer"
        src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous"></script>
<script defer="defer"
        src="/static/js/pagination.js"></script>
{% endblock %}